<div class="flex flex-col md:flex-row min-h-screen bg-slate-50 " style="z-index: 999 !important;">

  <!-- LADO ESQUERDO: Identidade e Call to Action (Fixo no Desktop) -->
  <div
    class="hidden md:flex md:w-5/12 lg:w-[45%]  p-8 md:p-16 mt-20! flex-col justify-between fixed h-screen overflow-hidden ">
    <!-- Conteúdo Central -->
    <div class="relative z-10">
      <h1 class="text-4xl lg:text-6xl font-black leading-tight mb-6">
        Anunciar Ocorrência
      </h1>
      <p class="text-xl opacity-90 max-w-md mb-12 leading-relaxed">
        Preencha com o máximo de detalhes possível.
        Essas informações ajudam a nossa plataforma a cruzar os dados de forma inteligente
        e aumentar as chances de recuperação.
      </p>

      <!-- Pergunta Enfatizada -->
      <div class="space-y-4">
        <div class="flex items-center gap-3">
          <div class="h-px w-12 bg-black/40"></div>
          <span class="text-sm font-bold uppercase tracking-widest opacity-70">Passo Inicial</span>
        </div>
        <h3 class="text-3xl font-black  italic">
          Qual o tipo de ocorrência?
        </h3>
        <p class="text-amber-900 opacity-80">
          Selecione uma das opções à baixo começar o formulário.
        </p>

        <div class="w-[80%]! mb-6 flex flex-col md:flex-row justify-between items-center gap-4">

          <!-- Grupo de Filtros de Status com o Pulse no Container -->
          <div
            class="flex-1 w-full flex bg-gray-100 p-1 rounded-full border border-gray-200 shadow-sm transition-all duration-300"
            [class.animate-hard-pulse]="!formOcorrencia.get('tipoOcorrencia')?.value"
            [class.border-blue-400]="!formOcorrencia.get('tipoOcorrencia')?.value">

            <!-- Botão: Perdi Algo -->
            <p-button label="Perdi Algo" class="flex-1! w-full! duration-300!"
              (onClick)="formOcorrencia.get('tipoOcorrencia')?.setValue('PERDIDO')"
              [severity]="formOcorrencia.get('tipoOcorrencia')?.value === 'PERDIDO' ? 'primary' : 'secondary'"
              styleClass="!px-8 w-full! h-full! !py-5 !font-bold !rounded-full !border-none
                {{ !formOcorrencia.get('tipoOcorrencia')?.value ? 'bg-gray-200! hover:bg-gray-300! text-gray-700!' : '' }}">
            </p-button>

            <!-- Botão: Encontrei Alguma Coisa -->
            <p-button label="Encontrei Alguma Coisa"
              (onClick)="formOcorrencia.get('tipoOcorrencia')?.setValue('ACHADO')"
              [severity]="formOcorrencia.get('tipoOcorrencia')?.value === 'ACHADO' ? 'primary' : 'secondary'"
              class="flex-1! w-full! duration-300!"
              styleClass="!px-8 w-full! h-full! !py-5 !font-bold !rounded-full !border-none">
            </p-button>

          </div>


        </div>
      </div>
    </div>
  </div>

  <!-- LADO DIREITO: Formulário (Rola com a página) -->
  <!-- md:ml-[45%] garante que o formulário comece após a div fixa -->
  <div
    class="flex-1 md:ml-[21.666%] duration-100 lg:ml-[45%] bg-slate-50 min-h-screen {{!formOcorrencia.get('tipoOcorrencia')?.value ? 'blur-[1px] pointer-events-none' : ''}} ">
    <main class="max-w-3xl mx-aut px-6 pb-12 lg:py-20 space-y-8 ">

      <div class="flex flex-col gap-4 sticky top-22 pt-5 z-40 bg-slate-50">
        <!-- Label de contexto -->
        <label class="text-sm font-bold text-slate-700 ml-5">Galeria de Fotos (Máx 5)</label>

        <!-- Container Horizontal -->
        <div class="flex items-center gap-4 overflow-x-auto pb-2 ">

          <!-- COLUNA 1: FOTO PRINCIPAL -->
          <div class="relative group shrink-0">
            <div
              class="w-44 h-44 md:w-52 md:h-52 !border-2 !border-dashed !border-primary/30 !bg-primary/5 !rounded-[2.5rem] flex flex-col items-center justify-center cursor-pointer hover:!bg-primary/10 transition-all overflow-hidden relative">

              <ng-container *ngIf="fotoPrincipal; else placeholderPrincipal">
                <img [src]="fotoPrincipal.url" class="w-full h-full object-cover">
                <!-- Overlay para trocar -->
                <div
                  class="absolute inset-0 bg-black/20 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center">
                  <i class="pi pi-refresh text-white text-2xl"></i>
                </div>
              </ng-container>

              <ng-template #placeholderPrincipal>
                <div class="flex flex-col items-center">
                  <i class="pi pi-camera text-3xl text-primary/50"></i>
                  <span class="text-[10px] font-black uppercase tracking-widest text-primary/60 mt-2">Foto
                    Principal</span>
                </div>
              </ng-template>

              <input type="file" (change)="setFotoPrincipal($event)" class="absolute inset-0 opacity-0 cursor-pointer"
                accept="image/*" />
            </div>
          </div>

          <!-- COLUNA 2: SECUNDÁRIAS -->
          <div class="flex gap-3">

            <!-- Listagem Secundárias -->
            <div *ngFor="let foto of fotosSecundarias; let i = index" class="relative shrink-0">
              <div
                class="w-20 h-20 md:w-24 md:h-24 !rounded-[1.5rem] overflow-hidden border border-slate-200 shadow-sm group">
                <p-image [src]="foto.url" alt="Item" styleClass="h-full!" imageClass="w-full! h-full! object-cover"
                  [preview]="true">
                </p-image>
                <button (click)="removerSecundaria(i)"
                  class="absolute -top-1 -right-1 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center shadow-md hover:scale-110 transition-transform z-10">
                  <i class="pi pi-times text-[10px]"></i>
                </button>
              </div>
            </div>

            <!-- Botão Adicionar Secundária (Só aparece se houver espaço) -->
            <div *ngIf="fotosSecundarias.length < MAX_SECUNDARIAS" class="relative shrink-0">
              <div
                class="w-20 h-20 md:w-24 md:h-24 !border-2 !border-dashed !border-slate-300 !bg-white !rounded-[1.5rem] flex items-center justify-center cursor-pointer hover:!border-primary hover:!bg-primary/5 transition-all group">
                <i class="pi pi-plus text-slate-400 group-hover:text-primary"></i>
                <input type="file" (change)="addFotosSecundarias($event)"
                  class="absolute inset-0 opacity-0 cursor-pointer" accept="image/*" multiple />
              </div>
            </div>

          </div>
        </div>


        <p class="text-[10px] text-slate-400 uppercase font-bold tracking-tighter ml-5">
          Dica: A primeira imagem será o destaque do seu anúncio.
        </p>
      </div>


      <form [formGroup]="formOcorrencia" (ngSubmit)="publicarOcorrencia()" class="max-w-xl">

        <!-- Card 2: Informações Principais -->
        <div class="flex flex-col 2">
          <label class="text-sm font-bold text-slate-700 ml-5">Título do Item *</label>
          <input type="text" pInputText formControlName="titulo" placeholder="Ex: iPhone 13 Pro Max Azul"
            class="w-full! p-4! px-6! transition-all mt-2!" />
          <app-text-error-input-form
            [expression]="(formOcorrencia.get('titulo')?.errors?.['required'] && formOcorrencia.get('titulo')?.touched) ?? false"
            message="Título é obrigatório">
          </app-text-error-input-form>
          <app-text-error-input-form
            [expression]="(formOcorrencia.get('titulo')?.errors?.['maxlength'] && formOcorrencia.get('titulo')?.touched) ?? false"
            message="Título demasiado longo (máx 255)">
          </app-text-error-input-form>
        </div>

        <div class="flex flex-col mt-4">
          <label class="text-sm font-bold text-slate-700 ml-5">Categoria *</label>
          <p-select formControlName="idCategoria" [options]="categoriasCarregadas" optionLabel="descricao"
            optionValue="idCategoria" placeholder="Selecione uma categoria"
            styleClass="!w-full !rounded-full !border-slate-300">
          </p-select>
          <app-text-error-input-form
            [expression]="(formOcorrencia.get('idCategoria')?.errors?.['required'] && formOcorrencia.get('idCategoria')?.touched) ?? false"
            message="Selecione uma categoria">
          </app-text-error-input-form>
        </div>

        <!-- Card 3: Descrição -->
        <div class="flex flex-col  mt-4">
          <div class="flex justify-between items-center px-5">
            <label class="text-sm font-bold text-slate-700">Descrição Detalhada *</label>
          </div>
          <textarea pTextarea formControlName="descricao" rows="4"
            placeholder="Descreva marcas de uso, sinais únicos ou números de série..."
            class="!w-full border bg-white!  mt-2! !p-6 !rounded-[2rem] !border-slate-300 focus:!border-primary transition-all"></textarea>
          <app-text-error-input-form
            [expression]="(formOcorrencia.get('descricao')?.errors?.['required'] && formOcorrencia.get('descricao')?.touched) ?? false"
            message="A descrição é obrigatória">
          </app-text-error-input-form>
        </div>

        <!-- Card 4: Local e Data -->
        <div class="flex flex-col  mt-4">
          <label class="text-sm font-bold text-slate-700 ml-5">Onde aconteceu? *</label>
          <p-iconField iconPosition="left">
            <input type="text" pInputText formControlName="localEvento"
              placeholder="Ex: Aeroporto 4 de Fevereiro, Luanda"
              class="!w-full !p-4 !pl-12 !pr-6  mt-2! !rounded-full !border-slate-300" />
          </p-iconField>
          <app-text-error-input-form
            [expression]="(formOcorrencia.get('localEvento')?.errors?.['required'] && formOcorrencia.get('localEvento')?.touched) ?? false"
            message="Local é obrigatório">
          </app-text-error-input-form>
        </div>

        <div class="flex flex-col  mt-4">
          <label class="text-sm font-bold text-slate-700 ml-5">Data Aproximada do Evento*</label>
          <p-datepicker formControlName="dataEvento" placeholder="Selecione a data" styleClass="!w-full"
            inputStyleClass="!p-4 !px-6  mt-2! !rounded-full !border-slate-300"></p-datepicker>
          <app-text-error-input-form
            [expression]="(formOcorrencia.get('dataEvento')?.errors?.['required'] && formOcorrencia.get('dataEvento')?.touched) ?? false"
            message="Data é obrigatória">
          </app-text-error-input-form>
        </div>

        <!-- Card 6: Recompensa (Extra - Apenas visual conforme seu layout) -->
        <div class="flex flex-col  mt-4 hidden">
          <label class="text-sm font-bold text-slate-700 ml-5">Recompensa (Opcional)</label>
          <p-iconField iconPosition="left">
            <input type="text" pInputText placeholder="AO 0,00"
              class="!w-full !p-4 !pl-12 !pr-6 !rounded-full !border-slate-300 !font-black !text-primary" />
          </p-iconField>
        </div>

        <div class="flex items-start gap-4 p-6 bg-slate-100/50 rounded-3xl mt-6">
          <i class="pi pi-info-circle text-slate-400 mt-1"></i>
          <p class="text-[11px] text-slate-500 font-bold leading-relaxed uppercase tracking-wider">
            Ao publicar, você confirma que as informações são verdadeiras e em conformidade com as normas da Polícia
            Nacional de Angola (PNA).
          </p>
        </div>

        <!-- Ações Finais -->
        <div class="flex flex-col gap-8 pt-6 pb-5">
          <p-button [loading]="isLoadPublicarOcorrencia" type="submit" label="Publicar Ocorrência"
            icon="pi pi-megaphone" [disabled]="formOcorrencia.invalid || isLoadPublicarOcorrencia"
            styleClass="!flex-1 w-full! md:!flex-none !px-16 !py-5 shadow-lg!">
          </p-button>
        </div>

      </form>


    </main>
  </div>
</div>
